<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Emsidi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"></head>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Ubah Password User</h2>
                <br>
                <div id="errormsg" style="display:none"></div>
                <div>
                    <input id="oldpass" name="oldpassword" type="password" />
                    <input id="pass" name="password" type="password" />
                    <input id="passConfirm" type="password" />
                    <span id="error" style="display:none">Password mismatch</span>

                    <button type="submit" onclick="savePass()">Change Password</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="jquery.min.js"></script>
<script type="text/javascript">

    var serverContext = [[@{/}]];
        function savePass(){
            var pass = $("#pass").val();
            var valid = pass == $("#passConfirm").val();
            if(!valid) {
                $("#error").show();
                return;
            }
            $.post(serverContext + "user/update",
                {password: pass, oldpassword: $("#oldpass").val()} ,function(data){
                    window.location.href = serverContext +"/home.html?message="+data.message;
                })
                .fail(function(data) {
                    $("#errormsg").show().html(data.responseJSON.message);
                });
        }
</script>
</body>
</html>